<table id="accounts-list">
  <thead>
    <tr>
      <th>Account Name</th>
      <th>Members</th>
      <th />
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<a class="create" href="#new">Add account</a>
