<h2 id='account-name' />
<table id="line-item-list">
  <thead>
    <tr>
      <th>Effective Date</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<a class="create" >Add line item</a>
