<h1>Groups</h1>

<div id="groups">
  <ul>
    <% @groups.each do |group| %>
      <li><%= group.name %></li>
    <% end %>
  </ul>
</div>

<%= content_for :javascript do -%>
  <%= javascript_tag do %>
    $(function() {
      GroupsApp.init(<%== @groups.to_json %>);
    });
  <% end %>
<% end -%>
