<h1>Parts</h1>
<ol>
  <li><a href="tasks">Tasks</a> // not currently functional </li>
  <li><a href="groups">Groups</a> // organize users into groups</li>
  <li><a href="accounts">Accounts</a> // account here is not a user account, but a set of transactions. poorly named =P </li>
</ol>
</div>

